<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Validation Example</title>
    <link rel="stylesheet" href="style.css">
    <script src="../model/logic.js"></script>
    <script src="../controller/ctrl.js"></script>
</head>

<body>
    <h1>Validation Example</h1>
    <table>
        <tr id="tr1">
            <td>Firstname : </td>
            <td>
                <input type="text" id="fnm">
            </td>
            <td><span id="sp"></span></td>
        </tr>
        <tr id="tr1">
            <td>Lastname : </td>
            <td>
                <input type="text" id="lnm">
            </td>
            <td><span id="sp1"></span></td>
        </tr>
        <tr>
            <td>Username : </td>
            <td>
                <input type="text" id="usnm">
            </td>
            <td><span id="sp2"></span></td>
        </tr>
        <tr>
            <td>Email : </td>
            <td>
                <input type="text" id="em">
            </td>
            <td><span id="sp3"></span></td>
        </tr>
        <tr>
            <td>Password : </td>
            <td>
                <input type="text" id="pswd">
            </td>
            <td><span id="sp4"></span></td>
        </tr>
        <tr>
            <td>Confirm Password : </td>
            <td>
                <input type="text" id="cpswd">
            </td>
            <td><span id="sp5"></span></td>
        </tr>
        <tr>
            <td>Age : </td>
            <td>
                <input type="text" id="a">
            </td>
            <td><span id="sp6"></span></td>
        </tr>
    </table>
    <button>Submit</button>
    <button>Reset</button><br>
    <button>Load</button>
    <button>Save</button>
    <button>Add</button>
    <button>Sort</button>
    <button>Delete</button>
    <button>Search</button>
</body>

</html>